html{
	font-family: sans-serif;
	font-weight: 300;
}
body{
	margin:0;
}
label{
	text-align: left;
	clear:left;
	display:block;
}
form{
	width: 250px;
}
h1,h2,h3,h4{
	font-weight: 300;
}
input{
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 1.5em;
	width: 150px;
}
#login_container {
	margin: 0 auto;
	width: 50%;
}
#navbar{
	height: 40px;
	width:fill;
	padding: 10px;
	border-bottom: 1px solid gray;
}
#navbar span{
	display:inline-block;
	width:90%;
	text-align: right;
}
#navbar h3{
	display:inline;
	margin: 0;
	margin-left: 2%;
}
#post_container{
	margin:0 auto;
	width: 50%;
}
#message_form textarea{
	width: 100%;
	height:2em;
}
.errors {
	color: #CF2A27;
}
.success{
	color:#009E0F;
}