html{
	font-family: sans-serif;
	font-weight: 300;
}
body{
	margin:0;
	background-color: #E5E5E5;
}
label{
	text-align: left;
	clear:left;
	display:block;
}
h1,h2,h3,h4,h5{
	font-weight: 300;
}
hr{
	background-color: white;
	height:.2vh;
	outline:none;
	border:none;
}
/* id's */
#index_head_container{
	background-color: #222;
	color:white;
	margin:0 auto;
	padding: 2vh;
	padding-left: 24.5vw;
}
#login_container {
	margin: 0 auto;
	width: 100%;
	padding-top: 3vh;
	background-color: #29B6F6;
}
#login_container label{
	color:white;
}
#login_container input{
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 1.5em;
	width: 150px;
}
#login_container h2{
	margin:0;
	margin-bottom:.5em;
	color:white;
}
#register_container {
	margin: 0 auto;
	width: 100%;
	padding-top: 3vh;
}
#register_container label{
	color:#222;
}
#register_container input{
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 1.5em;
	width: 150px;
}
#register_container h2{
	margin:0;
	margin-bottom:.5em;
	color:#222;
}
#navbar{
	height: 30px;
	width:fill;
	background-color: #4FC3F7;
	padding: 15px;
}
#left_navbar{
	display: inline-block;
	width:50%;
	float:left;
	text-align: left;
	vertical-align: top;
}
#right_navbar{
	display:inline-block;
	width:50%;
	float:right;
	text-align: right;
	vertical-align: top;
}
#right_navbar p{
	margin:0;
	color:white;
}
#right_navbar a{
	font-size:10pt;
	color:white;
}
#navbar h3{
	display:inline;
	margin: 0;
	color: white;
	padding-top:1.5em;

}
#post_container{
	margin:0 auto;
	width: 100%;
	padding-left: 26%;
	padding-right: 10%;
	padding-top:3%;
	padding-bottom:3%;
	background-color: #4FC3F7;
}
#post_container h2{
	margin:0;
	color:white;
}
#post_but_container{
	width: 48%;
	text-align: right;
}
#message_form textarea{
	width: 47vw;
	height:7vh;
	resize:none;
	outline:none;
	padding-left:.5vw;
	padding-right:.5vw;
	font-size: 14pt;
	border:none;
	border-radius:3px;
	margin-top: .5em;
	margin-bottom:.5em;
}
#content_wrapper{
	height: 65vh;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	margin-top: 2%;
	overflow:scroll;
}
#logout_form{
	display:inline-block;
}
#logout_form input{
	background-color: transparent;
	border:none;
	outline:none;
	color:white;
	font-size: 10pt;
	text-decoration: underline;
}
#comment_submit{
	text-align: right;
	padding-left:2%;
	width:1em;
	margin-top: 2%;
	height:7vh;
}
#reg_button{
	border:none;
	outline:none;
	width: 150px;
	font-size: 12pt;
	background-color: #4FC3F7;
	border-radius: 4px;
	color:white;
}
#loginbutton{
	outline:none;
	width: 150px;
	padding-right: .5em;
	padding-left:.5em;
	font-size: 12pt;
	border-radius:4px;
	border: 2px solid white;
	background-color: transparent;
	color:white;	
}

/*classes*/
.index_form{
	width: 250px;
	margin-left:25%;
}
.user_post{
	height: auto;
	width: 88.8%;
	padding: 3%;
	margin:0 auto;
	margin-top:2em;
	background-color: white;
	border-radius: 2px;
	vertical-align: top;
	box-shadow: 0px 0px 1px 1px silver;
}
.user_post h5{
	margin:0;
	font-weight: 700;
	font-size: 9pt;
	display:inline-block;
	letter-spacing: .1px;
}
.user_post p {
	margin: 0;
	margin-left: 3%;
	margin-top:2%;
	
}
.collapse{
	height: 2vh;
	width:45vw;
	margin: 0 auto;
	font-size: 8pt;
	color:white;
	padding-top:1em;
	padding-bottom:.5em;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
	box-shadow:1px 1px 2px silver;
	background-color: #29B6F6;
}
.comment_form{
	width: 40.7vw;
	height: 2vh;
	margin:0;
}

.comment_form input{
	display:inline-block;
	width: 10vw;
	border: 2px solid white;
	outline:none;
	color: white;
	font-family: sans-serif;
	font-weight:300;
	font-size:9pt;
	border-radius:4px;
	padding: 3px;
	margin-left: 20vw;
	background-color: transparent;
	display: inline-block;
}
.comment_form textarea {
	width: 28vw;
	height: 2vh;
	resize:none;
	white-space: nowrap;
	outline:none;
	border:none;
	padding-left:1vw;
	padding-right:1vw;
	font-size: 11pt;
	font-weight:200;
	border-radius: 3px;
	display:inline-block;
	text-align: right;
}
.expander{
	width:45vw;
	height: 2vh;
	margin:0 auto;
	outline: none;
	border: none;
	color:white;
	text-align: center;
	padding-top: .5em;
	padding-bottom:.5em;
	font-size: 8pt;
	box-shadow: 1px 1px 2px silver;
	background-color:#4FC3F7;
}
.comment_holder {
	text-align: right;
	margin:0 auto;
	width: 44vw;
	height: auto;
	padding-left: 1vw;
	vertical-align: top;
	background-color: #4FC3F7;
	color: white;
	box-shadow:1px 1px 2px silver;
	padding-top: 2em;
}
.comment_holder h5{
	margin:0;
	margin-top: 1vh;
	margin-right:3.5%;
	font-weight: 500;
}
.comment_holder p {
	margin:0;
	font-size: 11pt;
	margin-right: 6%;
}
.message_post{
	outline: none;
	border:2px solid white;
	border-radius: 3px;
	padding-left: 2em;
	padding-right: 2em;
	background-color:transparent;
	color:white;
	font-size: 12pt;
	font-family:sans-serif;
	font-weight: 200;
}
.delete_button{
	border:none;
	color:white;
	outline: none;
	margin:0;
	margin-left: 100%;
	background-color: #D46D6A;
}
.delete_form{
	width:.5vw;
	height:2vh;
	display:inline-block;
}	
.breaker{
	color:white;
}
.errors {
	color: #CF2A27;
}
.success{
	color:#009E0F;
}

