html{
	font-family: sans-serif;
	font-weight: 300;
}
body{
	margin:0;
}
label{
	text-align: left;
	clear:left;
	display:block;
}
form{
	width: 250px;
}
h1,h2,h3,h4{
	font-weight: 300;
}
/* id's */
#login_container {
	margin: 0 auto;
	width: 50%;
}
#login_container input{
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 1.5em;
	width: 150px;
}
#navbar{
	height: 30px;
	width:fill;
	padding: 15px;
	border-bottom: 1px solid gray;
	margin-bottom: 1em;
}
#navbar span{
	display:inline-block;
	width:80%;
	text-align: right;
	vertical-align: top;
}
#navbar span p{
	margin:0;
}
#navbar h3{
	display:inline;
	margin: 0;
	padding:1em;
	padding-top:1.5em;

}
#post_container{
	margin:0 auto;
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
}
#message_form{
	
}
#message_form textarea{
	width: 500px;
	height:5em;
	margin-top: .5em;
}
#content_wrapper{
	height: 72vh;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	margin-top: 2%;
	overflow:scroll;
}

#comment_submit{
text-align: right;
padding-left:2%;
width:1em;
margin-top: 2%;
height:7vh;
}

/*classes*/
.user_post{
	height: auto;
	width: 90%;
	padding: 3%;
	margin-top: 1em;
	margin:0 auto;
	outline: 1px solid #222;
	vertical-align: top;
}
.user_post h5{
	margin:0;
	font-weight: 500;
	font-size: 8pt;
	letter-spacing: .1px;
}
.user_post p {
	margin: 0;
	margin-left: 3%;
	margin-top:2%;
	
}
.comment_form{
	width: 45vw;
}
.comment_form input{
	display:inline-block;
	width: 10vw;
	border: none;
	outline: none;
	color: white;
	font-family: sans-serif;
	font-weight:400;
	font-size:10pt;
	border-radius: 3px;
	margin-left: 20vw;
	background-color: #37363A;
	display: inline-block;
}
.comment_form textarea {
	width: 45vw;
	height: 2vh;
	display:inline-block;
	text-align: right;
}
.expander{
	width: 95%;
	height: 2vh;
	margin:0 auto;
	outline: none;
	border: none;
	background-color:#00DD79;
}
.comment_holder {
	text-align: right;
	margin:0 auto;
	width: 93%;
	height: auto;
	padding:1%;
	vertical-align: top;
	background-color: #00DD79;
	color: white;
	margin-bottom: .5em;
}
.comment_holder h5{
	margin:0;
	margin-right:3.5%;
	font-weight: 400;
}
.comment_holder p {
	margin:0;
	margin-right: 6%;
}
.errors {
	color: #CF2A27;
}
.success{
	color:#009E0F;
}